---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set latest = collections.posts[0].date if collections.posts.length else page.date -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.baseUrl }}/</loc>
    <lastmod>{{ latest | isoDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/blog/</loc>
    <lastmod>{{ latest | isoDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/contact.html</loc>
    <lastmod>{{ latest | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/privacy.html</loc>
    <lastmod>{{ latest | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/terms.html</loc>
    <lastmod>{{ latest | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>{{ site.baseUrl }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
</urlset>
